pizzadoughnuts on Kaggle
Spencer Shortt
ML HW4

In [179]:
import pandas as pd
import numpy as np

In [180]:
from google.colab import files

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [181]:
!cp drive/MyDrive/XTrain.csv .
!cp drive/MyDrive/yTrain.csv .
!cp drive/MyDrive/XTest.csv .
!cp drive/MyDrive/sample_submission_fives.csv .

In [182]:
df_XTrain = pd.read_csv('XTrain.csv')
df_yTrain = pd.read_csv('yTrain.csv')
df_XTest = pd.read_csv('XTest.csv')

df_csv = pd.read_csv('sample_submission_fives.csv')

In [183]:
df_csv

      Index  Rented Bike Count
0         0                  5
1         1                  5
2         2                  5
3         3                  5
4         4                  5
...     ...                ...
2623   2623                  5
2624   2624                  5
2625   2625                  5
2626   2626                  5
2627   2627                  5

[2628 rows x 2 columns]

In [184]:
df_yTrain

      Index  Rented Bike Count
0         0                180
1         1                918
2         2               1996
3         3                177
4         4                776
...     ...                ...
6127   6127               1861
6128   6128               1870
6129   6129               2460
6130   6130               1286
6131   6131                711

[6132 rows x 2 columns]

In [185]:
X_train = df_XTrain.to_numpy()[:, 2:]
y_train = df_yTrain.to_numpy()[:, 1:]
X_test = df_XTest.to_numpy()

my_csv = np.zeros((len(X_test) , 2))
my_csv[:,0] = X_test[:,0]

print(X_test)
print(my_csv)

df_csv['Index'] = X_test[:,0]


X_test = df_XTest.to_numpy()[:, 2:]

df_csv['Index']

[[0 '8/10/2018' 17 ... 'Autumn' 'No Holiday' 'Yes']
 [1 '25/04/2018' 15 ... 'Spring' 'No Holiday' 'Yes']
 [2 '13/06/2018' 19 ... 'Summer' 'No Holiday' 'Yes']
 ...
 [2625 '2/5/2018' 21 ... 'Spring' 'No Holiday' 'Yes']
 [2626 '4/4/2018' 20 ... 'Spring' 'No Holiday' 'Yes']
 [2627 '8/9/2018' 8 ... 'Autumn' 'No Holiday' 'Yes']]
[[0.000e+00 0.000e+00]
 [1.000e+00 0.000e+00]
 [2.000e+00 0.000e+00]
 ...
 [2.625e+03 0.000e+00]
 [2.626e+03 0.000e+00]
 [2.627e+03 0.000e+00]]

0          0
1          1
2          2
3          3
4          4
        ...
2623    2623
2624    2624
2625    2625
2626    2626
2627    2627
Name: Index, Length: 2628, dtype: object

In [186]:
X_train[:, -3][X_train[:, -3]=='Spring'] = 0
X_train[:, -3][X_train[:, -3]=='Summer'] = 1
X_train[:, -3][X_train[:, -3]=='Autumn'] = 2
X_train[:, -3][X_train[:, -3]=='Winter'] = 3

X_test[:, -3][X_test[:, -3]=='Spring'] = 0
X_test[:, -3][X_test[:, -3]=='Summer'] = 1
X_test[:, -3][X_test[:, -3]=='Autumn'] = 2
X_test[:, -3][X_test[:, -3]=='Winter'] = 3

In [187]:
X_train[:,-2][X_train[:, -2]=='No Holiday'] = 0
X_train[:,-2][X_train[:, -2]=='Holiday'] = 1

X_test[:,-2][X_test[:, -2]=='No Holiday'] = 0
X_test[:,-2][X_test[:, -2]=='Holiday'] = 1

In [188]:
X_train[:,-1][X_train[:,-1]=='Yes'] = 0 
X_train[:,-1][X_train[:,-1]=='No'] = 1

X_test[:,-1][X_test[:,-1]=='Yes'] = 0 
X_test[:,-1][X_test[:,-1]=='No'] = 1

In [192]:
from sklearn.ensemble import RandomForestRegressor

regr = RandomForestRegressor(max_depth=15, random_state=0)
regr.fit(X_train , y_train)
regr.score(X_train , y_train)

y_hat = regr.predict(X_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [193]:
df_csv['Rented Bike Count'] = y_hat.astype(int)
df_csv


new_thing = pd.DataFrame(y_hat.astype(int))

In [194]:
new_thing.to_csv("data4.csv")

In [191]:
#regr.score(X_train, y_train)
from sklearn.model_selection import train_test_split
X_train_split, X_test_split, y_train_split, y_test_split = train_test_split(X_train, y_train,
                                                    random_state=1)

for i in range(2,20):
  regr = RandomForestRegressor(max_depth=i, random_state=0)
  regr.fit(X_train_split , y_train_split)
  print(regr.score(X_test_split, y_test_split))
  print(i)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.49239528105291663
2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.6202661993857304
3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.6990484014846192
4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.7502894667130304
5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.7960817244100614
6

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.817255731528466
7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8315625855082887
8

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8416849760752456
9

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8469591637287347
10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8501161660908478
11

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.850636990225828
12

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8524476446629037
13

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8536560452920912
14

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8532514167155969
15

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8519742981352789
16

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8528932751701055
17

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8531864227051024
18

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8532179150973461
19